{% extends 'layout/base.html' %}

{% block title %}Nhận phòng{% endblock %}

{% block content %}
<h1 class="text-center text-success">Phiếu thuê phòng</h1>
<br>
{% if current_user.is_authenticated %}
<form>
    <div class="form-group"><input type="text" class="form-control"  name="id" placeholder="Nhập id cần lập phiếu thuê"></div>
    <input type="submit" value="Kiểm tra phiếu" class="btn btn-info">
</form>
{% for i in show_rent2 %}
<table class="table table-hover">
    <th>Phòng thuê: {{ i[0] }} </th>
    <th>Ngày nhận phòng: {{ i[1] }}</th>
    <th>Ngày trả phòng: {{ i[2] }}</th>
</table>
{% endfor %}
<table class="table table-hover">
    <tr>
        <th>STT</th>
        <th>Tên Khách Hàng</th>
        <th>Loại Khách</th>
        <th>CMND</th>
        <th>Địa chỉ</th>
    </tr>
    {% for s in show_rent %}
        <tr>
            <td>{{ s[0] }}</td>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
            <td>{{ s[3] }}</td>
            <td>{{ s[4] }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<h4>Bạn cần đăng nhập để tạo phiếu thuê phòng <a href="{{ url_for('user_signin', next='rent') }}">tại đây</a></h4>
{% endif %}

{% endblock %}