{% extends 'admin/base.html' %}


{% block body %}
<h1 class="text-center">THỐNG KÊ</h1>

<form>
    <div class="form-group">
        <input type="text" class="form-control" name="month" min="1" max="12"  placeholder="Nhập tháng: ">
    </div>
    <input type="submit" value="Thống kê" class="btn btn-info">
</form>
<hr>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Phòng</th>
                <th>Loại phòng</th>
                <th>Đơn giá</th>
                <th>Tình trạng</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ s[3] }}</td>
                <td>{{ s[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Phòng</th>
                <th>Tỷ lệ</th>
            </tr>
            {% for s in statss %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row">

</div>


{% endblock %}